---
layout: default
---

<h1>Projects</h1>
<ul class="projects-list">
  {% for project in site.projects %}
  <li class="project-item">
    <h2>{{ project.title }}</h2>
    <p>{{ project.description }}</p>
    {% if project.image %}
    <img src="{{ project.image | absolute_url }}" alt="{{ project.title }} image">
    {% endif %}
    {% if project.github %}
    <p><a href="{{ project.github }}" target="_blank">GitHub Link</a></p>
    {% endif %}
    <a href="{{ project.url | absolute_url }}">Read more</a>
  </li>
  {% endfor %}
</ul>